{
  "parser": "@oigroup/lightscript-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 0,
    "react/prop-types": 0
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "RunKit": true
  },
  "env": {
    "mocha": true,
    "shared-node-browser": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
