{
  "parser": "@oigroup/lightscript-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-console": 0,
    "react/prop-types": 0
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "mocha": true,
    "shared-node-browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
