{
  "plugins": [
    "es5"
  ],
  "rules": {
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-console": 0
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:es5/no-es2015"
  ]
}
