.App-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 0;
}

.App-container .top {
  flex-shrink: 0;
}

.App-container .bottom {
  flex-grow: 1;
  overflow-y: auto;
}

.App-menubar {
  padding: 0.5em;
}

.App-pad {
  padding: 0.5em;
}

.hlt_error {
  position: absolute;
  background-color: rgb(143, 0, 0);
}

.hlt_active {
  position: absolute;
  background-color: #0D5;
}
