.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none;
  color: #999;
}

a.active {
  color: #a34;
}

.hlt_error {
  position: absolute;
  background-color: #F00;
}

.hlt_active {
  position: absolute;
  background-color: #0D5;
}

.nodekey {
  color: #aaa;
}

li.active {
  background-color: #0D5;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 5000;
}

.applyFont {
  font-family: "Fira Sans","Helvetica Neue","Helvetica","Arial","sans-serif";
}

.spaceRight {
  margin-right: 0.2em
}
